{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                {% for obj in page_obj %}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{% static 'img/product-1.jpg' %}" alt="">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="{% url 'product-wishlist' pk=obj.product.pk %}"><img src="{% static 'img/heart-active.jpg' %}" alt=""></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="{% url 'product-detail' pk=obj.pk %}"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">  
                                <a class="h6 text-decoration-none text-truncate" href="">{{ obj.product.get_title }}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5>123$</h5>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link">First</a></li>
                                <li class="page-item disabled"><a class="page-link">Previous</a></li> 
                            {% endif %}
                                <li class="page-item active">
                                    <a class="page-link">{{ page_obj.number }}</a>
                                </li>
                            {% if page_obj.has_next %}
                                <li class="page-item ">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link">Next</a></li>
                                <li class="page-item disabled"><a class="page-link">Last</a></li> 
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

{% endblock  %}