{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <li data-target="#header-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    {% for banner in banners %}
                        <div class="carousel-item position-relative active" style="height: 430px;">
                            <img class="position-absolute w-100 h-100"
                            {% if banner.image %}
                                src="{{ banner.image }}"
                            {% else %}
                                src="{% static 'img/no_image.png' %}"
                            {% endif %}
                              style="object-fit: cover;">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">{{ banner.get_title }}</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">{{ banner.get_desc }}</p>
                                    <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% for i in banners_two %}
            <div class="col-lg-4">
                <div class="product-offer mb-30" style="height: 200px;">
                    {% if category.image %}
                        <img class="img-fluid w-100" src="{{ i.image.url }}" alt="">
                    {% else %}
                        <img class="img-fluid w-100" src="{% static 'img/no_image.png' %}" alt="">
                    {% endif %}
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">{{ i.get_title }}</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Carousel End -->


<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        {% for service in services %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    {% if service.icon %}
                        <img src="{{ service.icon.url }}" alt="">
                    {% else %}
                        <img width="70" height="70" src="{% static 'img/no_image.png' %}" alt="">
                    {% endif %}
                    <h5 class="font-weight-semi-bold m-0">{{ service.get_title }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
    <div class="row px-xl-5 pb-3">
        {% for category in categories %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <a class="text-decoration-none" href="">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 100px; height: 100px;">
                        {% if category.image %}
                            <img class="img-fluid w-100" src="{{ category.image.url }}" alt="">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static 'img/no_image.png' %}" alt="">
                        {% endif %}
                    </div>
                    <div class="flex-fill pl-3">
                        <h6>{{ category.get_title }}</h6>
                        <small class="text-body">100 Products</small>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Categories End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">
        {% for featured_product in featured_products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    {% if featured_product.first_image %}
                        <img class="img-fluid w-100" src="{{ featured_product.first_image.image.url }}" alt="">
                    {% else %}
                        <img class="img-fluid w-100" src="{% static 'img/no_image.png' %}" alt="">
                    {% endif %}
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="{% url 'product-wishlist' pk=featured_product.pk %}">
                            {% if featured_product.id in user_wishlist %}
                            <i class="fas fa-heart" style='color: blue'></i>
                            {% else %}
                            <i class="far fa-heart"></i>
                            {% endif %}</a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="{% url 'product-detail' pk=featured_product.pk %}"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">{{ featured_product.get_title }}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>123$</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->


<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        {% for j in banners_three %}
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    {% if category.image %}
                        <img class="img-fluid w-100" src="{{ j.image.url }}" alt="">
                    {% else %}
                        <img class="img-fluid w-100" src="{% static 'img/no_image.png' %}" alt="">
                    {% endif %}
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">{{ j.get_title }}</h3>
                        <a href="" class="btn btn-primary">Shop Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Offer End -->


<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
    <div class="row px-xl-5">
        {% for recent_product in recent_products %}
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    {% if recent_product.first_image %}
                        <img class="img-fluid w-100" src="{{ recent_product.first_image.image.url }}" alt="">
                    {% else %}
                        <img class="img-fluid w-100" src="{% static 'img/no_image.png' %}" alt="">
                    {% endif %}
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="{% url 'product-wishlist' pk=recent_product.pk %}">
                            {% if recent_product.id in user_wishlist %}
                            <i class="fas fa-heart" style='color: blue'></i>
                            {% else %}
                            <i class="far fa-heart"></i>
                            {% endif %}</a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href="{% url 'product-detail' pk=recent_product.pk %}"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">{{ recent_product.get_title }}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>123$</h5>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                {% for branch in branchs %}
                    <div class="bg-light p-4">
                        {% if branch.image %}
                            <img src="{{ branch.image.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/no_image.png' %}" alt="">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

{% endblock  %}